:root {
  --primary-light: #8abdff;
  --primary: #2bd8e3;
  --title: #f4ac45;
  --primary-dark: #5b0eeb;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --background: #3b3b3b;
  --error: #ff3333;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: var(--primary);
  background: var(--background);
  font-size: 1.3rem;
  @media screen and (min-width: 900px) {
    font-size: 75%;
  }
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.page-container {
  padding-top: 2em;
  width: 100%;
  height: 100vh;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.j-end {
  justify-content: flex-end;
}

.col {
  flex-direction: column;
  width: 100%;
}

.col + .col {
  margin-left: 2em;
}

.card {
  padding: 1em 2em;
  border: 2px solid var(--white);
  border-radius: 10px;
  min-height: 30vh;
  justify-content: space-evenly;
  display: flex;
}

.response-container {
  width: min(80%, 1100px);
  margin: 0 auto;
}

.container {
  width: min(80%, 500px);
  margin: 0 auto;
}

.title {
  color: var(--title);
  text-align: center;
}

.input-container {
  padding: 1em 0;
}

.input__label {
  width: 100%;
  padding-right: 1.2rem;
  text-align: right;
}

.btn {
  font-size: 1rem;
  background: var(--background);
  border: none;
  padding: 1em 2em;
  border-radius: 1rem;
  box-shadow: 6px 6px 12px #2d2d2d, -6px -6px 12px #494949;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  color: var(--greyDark);
}
.btn:hover {
  color: var(--primary);
}
.btn:active {
  box-shadow: inset 6px 6px 12px #2d2d2d, inset -6px -6px 12px #494949;
}

.btn:disabled {
  cursor: not-allowed;
  background: var(--greyDark);
  color: var(--background);
}

.btn:disabled:active {
  box-shadow: inherit;
}

.error-message {
  justify-self: flex-end;
  color: var(--error);
  font-size: 0.85rem;
  text-align: right;
}

.sign {
  margin-top: 5em;
  text-align: right;
  margin-right: 2em;
}

/* MEDIA QUERYS */

@media (max-width: 600px) {
  .response-container {
    flex-direction: column;
  }

  .col {
    margin-top: 3em;
  }

  .col + .col {
    margin-left: 0;
  }
}
